body{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
}
.nav_title{
    color: black;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.text_primary{
    color: orange;

}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
.a{
    text-decoration: none;
    color: #474747;
}
.button_design{
    border-radius: 5px;
    background-color: #FD6E0A;
    width: 50px;
    height: 30px;
    border: 0px;
    font-style:normal;
    font-weight: 200;
    color: aliceblue;
    margin-bottom:20px;   
    
}
.header{
    background-color:  #fff8f3;
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    justify-content: space-between;

}
.banner_button{
    background-color: #FD6E0A;
    color: aliceblue;
    border: 0px;
    border-radius: 5px;
    height: 30px;

}
.banner_button2{
    color: #FD6E0A;
    border: 0px;
    border-radius: 2px;
    height: 30px;
    border: black 1px solid;

}
.image{
height: 100%;
width: 100%; 
margin-top: 30px;
}